:root {

    --bd-black: hsl(0, 0%, 0%);

}

*,
*::after,
*::before {

    margin: 0;
    box-sizing: border-box;
}

.wrapper {

    max-width: 1200px;
    min-height: 100svh;
    margin-inline: auto;
    background-color: white;
    position: relative;
}

.wrapper::before {
    content: '';
    position: absolute;
    bottom: 0; 
    top: 40px; 
    left: 0; 
    background: repeating-linear-gradient(
        135deg, 
        #ff0000,
        #ff0000 10px, 
        #ffffff 10px, 
        #ffffff 20px 
    );
    border-radius: 10px; 
    width: 30px; 
}

.wrapper::after {
    content: '';
    position: absolute;
    bottom: 0; 
    top: 40px; 
    right: 0; 
    background: repeating-linear-gradient(
        135deg, 
        #ff0000, 
        #ff0000 10px,
        #ffffff 10px,
        #ffffff 20px
    ); 
    border-radius: 10px; 
    width: 30px; 
}

.present__Wrapper {
display: flex;
align-items: center;
justify-content: center;
    width: 400px;
    height: 400px;
    background-color: white;
    top:50%;
    right: 20%;
    position: absolute;
    transform: rotate(10deg);
    border-radius: .5rem;
}
.present__Wrapper::before {
    content: '';
    position: absolute;
    top:0;
    right: 40px;
    background: repeating-linear-gradient(
        135deg, 
        #ff0000, 
        #ff0000 10px,
        #ffffff 10px,
        #ffffff 20px
    ); 
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}

.present__Wrapper::after {
    content: '';
    position: absolute;
    bottom:0;
    top: 40px;
    right: 0;
    background: repeating-linear-gradient(
        135deg, 
        #ff0000, 
        #ff0000 10px,
        #ffffff 10px,
        #ffffff 20px
    ); 
    border-radius: 10px; 
    padding: 5px;
    width: 10px;
}

.present__Image {
    width: 90%;
    height: 90%;
    object-fit: cover;
    mix-blend-mode: multiply;
    animation: shake 1.2s ease-in-out infinite alternate;
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
    }

    100%{
        transform: rotate(-10deg);
    }
}

.close {
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: .5rem;
}

.close:hover {
    cursor: pointer;
}

.message{
    top:50%;
    right: 20%;
    position: absolute;
    width: 0;
    width: 0;
    opacity: 0;
    transform: translateY(20px) scale(0);
    transition: transform 1s ease, opacity 1s ease, width 1s ease;
}

.message.active {
    width: 200px;
    opacity: 1;
    transform: translateY(-500px) scale(1);
}

.burble_1 {

    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: green;
    border:1px solid red;
    outline: 2px solid red;
    outline-offset: 2px;
    position: absolute;
    top:40px;
    left: 100px
}

.burble_1::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gold;
    top: -25px;
    left: calc(50% - 15px);
    border-radius: 5px;
}

.burble_2 {

    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    border:1px solid red;
    outline: 2px solid red;
    outline-offset: 2px;
    position: absolute;
    top:240px;
    left: 300px
}

.burble_2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gold;
    top: -25px;
    left: calc(50% - 15px);
    border-radius: 5px;
}

.burble_3 {

    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: lightblue;
    border:1px solid red;
    outline: 2px solid red;
    outline-offset: 2px;
    position: absolute;
    top:440px;
    left: 100px
}

.burble_3::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gold;
    top: -25px;
    left: calc(50% - 15px);
    border-radius: 5px;
}

@media (max-width: 430px) {
    .burble_1 {

        width: 100px;
        top:40px;
        left: 40px;
    }

    .burble_3 {
        width: 100px;
        bottom:-6px;
        right: -10px;
        top:initial;
        left: initial;
    }
    
}